#footer{
	 position: absolute;
     left: 0;
     width: 100%;
	 background: rgb(55,35,35);
	 
}

#footer li{
	 padding: 2px;
	 position: relative;
}

#footer ul {
    margin: 0 auto;
    width: 940px;
    list-style: none;
    padding: 2px 0;
    color: #777;
}

#footer a {
    color: #777;
}
