
/* Tell the browser to render HTML 5 elements as block */



html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 13px/22px verdana, sans-serif;
}

footer {
    bottom: 0;
    height: 70px;
    left: 0;
    position: absolute;
    width: 100%;
}

header {

    text-align:left;
}


aside {
    display: table-cell;
    width: 300px;
}



/*framework starts*/

#wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 70px;
    position: relative;
    padding-left: 230px;
}

#maindiv{
	margin-top: 16px;
    width: 70%; 
    padding-top: 70px;
    
}

/*framework ends*/

/*navigation*/

nav {
    position: absolute;
    left: 0;
    width: 100%;
    background: rgb(55,35,35);
}

nav ul {
    margin: 0 auto;
    width: 940px;
    list-style: none;
    
}

nav ul li {
    float: left;
}

nav ul li a {
     display: block;
     margin-right: 20px;
     width: 190px;
     font-size: 14px;
     line-height: 44px;
     text-align: center;
     text-decoration: none;

 }
    
 nav ul li a:HOVER {
      color: #fff;
  }
 
  
  
    nav ul li a{
      color: #a4a4a4;
  }
  
.active{ color: #ffffff;}
 
 
 

/*navigation ends*/   

/*page specific starts*/      
#demointro {
    padding: 44px;
    background: #467612 url("intro_background.png") repeat-x;
    background-size: 100%;
    border-radius: 22px;
    width: 90%;
}      

 
#demointro h2 {
    padding: 0 0 22px 0;
    font-weight: normal;
    color: #fff;
}
 
#demointro p {
    padding: 0;
    color: #d9f499;
}

#demomainContent {
    display: table-cell;
    width: 620px;
    padding-right: 22px;
}


/*page specific ends*/



/*table*/

table {
	margin-top: 10px;
    padding: 44px;
	position:absolute;
	border-collapse: collapse;
	width: 60%;
}

table, th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


th {
    background-color: #4CAF50;
    color: white;
}

/*table*/

/*Spinner*/

#processing {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .6;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;     
}

/*Spinner*/
/*animate*/

.animate { 
   -webkit-transition: 600ms cubic-bezier(0.785, 0.135, 0.150, 0.860) all;
    -moz-transition: 600ms cubic-bezier(0.785, 0.135, 0.150, 0.860) all;
    -ms-transition: 600ms cubic-bezier(0.785, 0.135, 0.150, 0.860) all;
    -o-transition: 600ms cubic-bezier(0.785, 0.135, 0.150, 0.860) all;
    transition: 600ms cubic-bezier(0.785, 0.135, 0.150, 0.860) all;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
    position: relative;
} 

.animate.ng-leave.ng-leave-active,
.animate.ng-enter {
  
    opacity: 0;
    height: 0px;
}        

.animate.ng-enter.ng-enter-active,
.animate.ng-leave {

    opacity: 1;
    height: 30px;
}

/*animate*/