
<div>


    <hr>
    <div id="demointro">
    <section>
    	<h2>A basic demo</h2>
        <label>Name:</label>
      	<input type="text" ng-model="yourName" placeholder="Enter a name here" required>
      	
      	<h5>Angular Demo - hello-   {{yourName}}!</h5>
    </section>
    </div>
    
 

   <div id="demomainContent">
        <section>
       
        
 
      
           <p> blog post</p>
        </section>
        <section id="comments">
           <p>comments</p>
        </section>
		<form name="test" novalidate>
           <input type="text" ng-model="email" placeholder="Enter a name here" required>
        </form>
        
               <h1>123{{test.email.$valid}}</h1>
    </div>

    <aside>
       <b>testing</b>
    </aside>
    
</div>

